* {
  box-sizing: border-box;

  color: #ffffff;
  font-family: 'JetBrains Mono', monospace;

  margin: 0;
  padding: 0;
}

body {
  background-color: #2c2b3d;

  min-height: 100vh;

  padding-top: 71px;
}

.page {
  margin: 0 100px;
}

header {
  margin: 0 0 101px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 64px;

  list-style: none;
}

li {
  font-size: 14px;
  font-weight: 400;

  line-height: 28px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 77px;

  margin-bottom: 157px;
}

section h1,
section p {
  text-align: center;
}

section h1 {
  font-size: 36px;
  font-weight: bold;

  line-height: 40px;

  margin-bottom: 59px;
}

section h1 span,
#security {
  color: #00bfa6;
}

section p,
section p strong {
  color: #c2c2c2;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

section p {
  font-weight: 400;

  line-height: 28px;

  width: 604px;
}

#line {
  border: 1px solid #00bfa6;

  margin: 0 auto 27px;

  width: 568px;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;

  margin: 0 auto;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
